@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: slategray;
}

h2 {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(59, 59, 59);
}

/* menu bar */
.nav-bar {
    width: 100%;
    height: 50px; 
    text-align: right;
    font-size: 20px;
    letter-spacing: 4px;
    background-color: rgb(116, 112, 112);
    
}
nav a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
}
nav a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
}
.active {
    border-bottom: 1px solid rgb(0, 0, 0);
}
/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url(../image/pexels-nicholas-dias-2116475.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
#hero-logo {
    color: rgb(255, 255, 255);
    font-size: 400%;
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    

    width: 800px;
    height: 390px;

    padding-top: 40px;
    padding-left: 500px;
    
    background-color: none;

    bottom: 40px;
    right: 500px;

    position: absolute;
}
#hero-logo > h3 {
    margin-left: 150px;
}
/* about us section */
#about {
    height: 600px;
}
#left {
    padding-top: 50px;
    width: 50%;
    float: left;
}
#right {
    padding-top: 50px;
    width: 50%;
    float: right;
}
.left-side {
    width: 50%;
    text-align: center;
    line-height: 30px;
    clear: both;
    margin-bottom: 60px;
    margin-left: 25%;
}
hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 5px 0;
}
.right-side {
    width: 50%;
    text-align: center;
    line-height: 30px;
    clear: both;
    margin-bottom: 60px;
    margin-left: 25%;
}
.right-side ul {
    list-style: none;
}
#sign-up {
    display: inline-block;
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
}
#sign-up:hover {
    background-color: rgb(0, 0, 255);
}
/* visit us section */
#info {
    height: 600px;
}
#visit-us {
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: x-large;
    letter-spacing: 4px;
}
#map {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    height: 400px;
    float: left;
}
iframe {
    height: 350px;
    width: 90%;
}
#address {
    padding-top: 50px;
    width: 50%;
    height: 400px;
    float: right;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}
#address > p {
    height: 400px;
    width: 30%;
    padding-top: 50px;
    text-align: center;
    line-height: 30px;
    margin-left: 35%;
    margin-right: 35%;
}
/* footer with social media links */
#footer { 
    height: 150px;
    background-color: rgb(116, 112, 112);
}
#footer span {
    display: block;
    float: left;
    margin-top: 120px;
    margin-left: 30px;
    color:rgb(255, 255, 255);
    font-size: 100%;
}
.social-media {
    text-align: center;
}
.social-media > a {
    display: inline-block;
    text-decoration: none;
    font-size: 160%;
    margin: 2%;
    padding: 1%;
    color: rgb(0, 0, 0);
}
.social-media :hover {
    color: rgb(0, 0, 255);
}
/* gallery stylesl */
#h2-gallery {
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(59, 59, 59);
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos > img {
    width: 100%;
}