@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: slategray;
}

h2 {
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(59, 59, 59);
}

/* menu bar */
.nav-bar {
    width: 100%;
    height: 50px; 
    text-align: right;
    font-size: 20px;
    letter-spacing: 4px;
    background-color: rgb(116, 112, 112);
    
}
nav a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
}
nav a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
}
.active {
    border-bottom: 1px solid rgb(0, 0, 0);
}
/* hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#hero-image{
    height: 600px;
    width: 100%;
    background: url(../image/pexels-nicholas-dias-2116475.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
#hero-logo {
    color: rgb(255, 255, 255);
    font-size: 400%;
    font-family: Source Sans Pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    

    width: 800px;
    height: 400px;

    padding-top: 40px;
    padding-left: 200px;
    
    background-color: none;

    bottom: 50px;
    right: 550px;

    position: absolute;
}
#hero-logo > h3 {
    margin-left: 150px;
}
/* second section */
#about {
    float: left;
    text-align: center;
    width: 50%;
    height: 180px;

}

/* footer */
#footer {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: rgb(116, 112, 112);
    font-size: 20px;
}
footer a {
    display:inline-block;
    text-decoration: none;
}
footer > p {
    text-align: left;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    font-size: 20px;
}